.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    &__wrapper {
      position: relative;
      // top: 2rem;
    }
  }

  &__menu {
    padding-right: 2.8rem;
    margin-top: -1.4rem;
    // padding-top: 0.5rem;
  }

  &__wrapper {
    padding-top: 1.3rem;
    padding-bottom: 0rem;
  }

  &__phone {
    margin-top: -1rem;
    // display: none;
  }

  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 0.3rem;

    span {
      text-align: center;
    }
  }

  &__phone-logo {
    display: none;
    max-width: 3rem;
  }

  .menu {
    
    &__list {
      display: flex;
      justify-content: space-between;
      column-gap: 3.6rem;
      justify-content: flex-start;
      align-content: flex-start;
    }

    &__link {
      @extend %ulText;
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      transition: all .5s;

      &:hover {
        color: $color-primary;
      }
    }
  }

  a { 
    @extend %ulText;
    color: $color-primary;
  }
}


