.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .menu {
    &__list {
      display: flex;
      column-gap: 2rem;
    }

    &__link {
      @extend %ulText;
      display: block;
      // max-width: 15rem;
      // max-height: 4rem;
      display: flex;
      text-align: center;
      transition: all .5s;


      &:hover {
        color: $color-primary;
      }
    }
  }

  .header__number {
    a { 
      @extend %ulText;
      color: $color-primary;
    }
  }
}