@include tablet{
   .header {

   &.open .menu {
     right: 0;
   }

    .menu {
      display: none;
      z-index: 99999;
      transition: right 1s;
       flex-direction: column;
       position: absolute;
       right: -100vw;
       top: 0;
       width:100vw;
       height: 100vh;
       border: 1px solid red;
    }
    .header__number {
      display: none;
    }
   }
}
  
  @include mobile{
  
}

@media (max-width: 1440px) {
  .header__phone-logo {
    display: block;
  }

  .header__number {
    span {
      display: none;
    }
  }
}