.header__burger-btn {
  display:block;
  position: absolute;
  top: 1rem;
  // border: 1px solid black;
  right: 3rem;
  width: 4rem;
  height: 4rem;;
  background-color: white;
  outline: none;
  z-index: 9999999;
  cursor: pointer;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: none;
}

.header__burger-btn span {
  display: block;
  position: absolute;
  width: 2.4rem;
  height: 3px;
  bottom: 1.4rem;
  background-color: $color-primary;
  transition: background-color .3s, opacity .3s, transform .5s;
  will-change: transform;
}

.header__burger-btn:hover span {
  background-color: $color-primary;
}

.header__burger-btn span:nth-child(1) {
  transform: translateY(0px);
}

.header__burger-btn span:nth-child(2) {
  transform: translateY(-8px);
}


.header__burger-btn span:nth-child(3) {
  transform: translateY(-15px);
}

.header.open .header__burger-btn span{
  bottom: 2rem;
}

.header.open .header__burger-btn span {
background-color:   $color-primary;
}

.header.open .header__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
  transform: translateY(0) rotate(-45deg);
}

@include tablet{

    .header__burger-btn  {
       display: flex;
    } 

}


@include mobile{

  .header__burger-btn  {
   top: 3rem;
   right: 3.5rem;
  } 

}